.App {
  text-align: center;
}

body {
  background-color: rgba(176, 196, 222, 0.415);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 98);
  color: white;
  text-align: center;
}
